@charset "utf-8";

/* CSS Document */

body {
    background-color: #ffdd90;
    background-image: url("images/fondoweb1.jpg");
    background-size: 100vmax;
}

.banner-fl {
    height: 200px;
    width: 100%;
    border-bottom: 10px;
}

.altura-a-b {
    padding: 100px 0;
}

.logotipo {
    width: 50px;
    padding: 2px 1;
}

.iconos-redes-header {
    width: 29px;
    margin: 10px 10px;
}

.fotos-carrusel {
    height: 300px;
    width: 100%;
    border-bottom: 10px;
}

.banner-video {
    background-image: url("#");
    padding: 200px 0;
    position: relative;
    text-align: center;
}

.banner-video img {
    width: 80px;
    height: 80px;
    position: relative;
}

footer {
    background-color: black;
    padding: 20px 0;
    text-align: left;
}

.logotipo-footer {
    width: 50px;
    padding: 2px 1;
    margin-bottom: 20px;
}

footer p {
    color: #fff;
    font-size: 12px;
}