@charset "utf-8";

/* CSS Document */

.logotipo {
    width: 50px;
    padding: 2px 1;
}

.iconos-redes-header {
    width: 29px;
    margin: 10px 10px;
}

.fotos-carrusel {
    height: 300px;
    width: 100%;
    border-bottom: 10px;
}

.imagenes-oferta {
    border-color: black;
    border-right-width: 10px;
}